
{% extends "base.html" %}

{% block content %}
<h1>About</h1>
<p>This blog is dedicated to colors. Here you will find information about different colors, their properties, and their uses.</p>
<p>The blog is written by [author's name], a color enthusiast and expert. [Author's name] has been working with colors for over 20 years and has a deep understanding of their properties and applications.</p>
<p>If you have any questions about colors, please feel free to contact [author's name] at [author's email address].</p>
{% endblock %}

